<!doctype html>
<html class="no-js" lang="en">
<head>
	<title>About Us, a Mighty Money Transfer Company - Wyre</title>
	<link rel="canonical" href="https://www.sendwyre.com/about">
	<meta name="description" content="We're leveraging new technology to build the fastest and most cost effective way to transfer money internationally. No strings attached.">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="theme-color" content="#1A32AF">
	
	<link rel="apple-touch-icon" href="/assets/images/Favicon192.png">
	<link rel="icon" sizes="192x192" href="/assets/images/Favicon192.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="/css/global.min.css">
	
	<script type="text/javascript" src="/js/bundle.js" async></script>
	<script async>
	  window.intercomSettings = {
	    app_id: "u5fn8o64"
	  };
	</script>
	<script async>
	  if (window.location.origin.indexOf('localhost') == -1) {
	    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/u5fn8o64';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
	  }
	</script>
	<script async>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
	h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
	(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
	})(window,document.documentElement,'async-hide','dataLayer',4000,
	{'GTM-PMDLF72':true});</script>
	
	
	<script async>
	    // If we're NOT on localhost
	    if (window.location.origin.indexOf("localhost") === -1) {
	        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	        ga('create', 'UA-88956296-1', 'auto');
	        ga('require', 'GTM-PMDLF72');        
	        ga('send', 'pageview');
	    }
	</script>
	
	<script>
	    !function(f,b,e,v,n,t,s)
	    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	    n.queue=[];t=b.createElement(e);t.async=!0;
	    t.src=v;s=b.getElementsByTagName(e)[0];
	    s.parentNode.insertBefore(t,s)}(window,document,'script',
	    'https://connect.facebook.net/en_US/fbevents.js');
	    fbq('init', '503431813347235');
	    fbq('track', 'PageView');
	</script>
	<noscript>
	    <img height="1" width="1" src="https://www.facebook.com/tr?id=503431813347235&ev=PageView&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->
	
	
	<script async>
	    if (window.location.origin.indexOf("localhost") === -1) {
	        setTimeout(function(){var a=document.createElement("script");
	        var b=document.getElementsByTagName("script")[0];
	        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0067/1888.js";
	        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	    }
	</script>
	
	<script async>
	    if (window.location.origin.indexOf("localhost") === -1) {
	        var _hmt = _hmt || [];
	        (function() {
	        var hm = document.createElement("script");
	        hm.src = "https://hm.baidu.com/hm.js?100283ec5f3112f4215a0acca2c8b74c";
	        var s = document.getElementsByTagName("script")[0];
	        s.parentNode.insertBefore(hm, s);
	        })();
	    }
	</script>
	
	
	<script async>
	    if (window.location.origin.indexOf("localhost") === -1) {
	        window._cloudAmp = window._cloudAmp || {};
	            _cloudAmp.forms = [];
	            (function () {
	                var scripts = document.getElementsByTagName('script'),
	                    sLen = scripts.length,
	                    ca_script = document.createElement('script'),
	                    head = document.getElementsByTagName('head'),
	                    protocol = document.location.protocol,
	                    httpsDomain = '1d5ef9e9369608f625a8-878b10192d4a956595449977ade9187d.ssl.cf2.rackcdn.com',
	                    httpDomain = 'trk.cloudamp.net',
	                    filename = 'ctk.js',
	                    srcDomain = protocol === 'http:' ? httpDomain : httpsDomain;
	        
	                ca_script.type = 'text/javascript';
	                ca_script.async = true;
	                ca_script.src = protocol + '//' + srcDomain + '/' + filename;
	                head[0].appendChild(ca_script);
	            })();
	    }
	</script>
	
</head>

<body class="view-about">

	<div class="wyre-outer-container">

		<nav class="trans-nav is-black">
		    <div class="wyre-container">
		        <div class="nav-left">
		            <a href="/" alt="Wyre" class="logo"></a>
		            <a class="button is-link" href="/individual">Individual</a>
		            <a class="button is-link" href="/business">Business</a>
		            <a class="button is-link" href="/api">API</a>
		        </div>
		        <div class="nav-right">
		            <a class="button is-link" href="https://dash.sendwyre.com/sign-in">Log In</a>
		            <a class="button is-edged nav-sign-up" href="https://dash.sendwyre.com/register">Sign Up Free</a>
		        </div>
		        <div class="nav-mobile">
		            <a href="/" alt="Wyre" class="logo"></a>
		            <a href="tel:4153747356" class="button is-green call-now-button">Call Now</a>
		            <div class="mobile-menu-open"><span></span></div>
		            <div class="mobile-menu-full is-closed">
		                <a href="/individual" class="button is-link">Individual</a>
		                <a href="/business" class="button is-link">Business</a>
		                <a href="/api" class="button is-link">Api</a>
		                <div class="mobile-cta-buttons">
		                    <a class="button" href="https://dash.sendwyre.com/sign-in">Log In</a>
		                    <a class="button nav-sign-up" href="https://dash.sendwyre.com/register">Sign Up Free</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</nav>

		<section class="hero">
			<div class="wyre-container">
				<h1>About Us</h1>
				<p>We're leveraging blockchain technology to build the fastest and most cost effective way to transfer money internationally. No strings attached.</p>
			</div>
		</section>

		<section class="who">
			<div class="wyre-container">
				<div class="who-content">
					<h1>Who we are</h1>
					<p>Wyre is a team of payment gurus, early adopters of blockchain, product experts, and tech fans. We work together to balance experience and intelligence, with opportunity and innovation. Our goal is to change the future of how international payments are done.</p>
				</div>
				<div class="who-photo"></div>
			</div>
		</section>

		<section class="team">
				<div class="person" data-name="Spenser">
					<div class="person-pane">
						<h2>Spenser</h2>
						<hr>
						<p>Frontend Engineer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/spenser.png"></div>
				</div>
				<div class="person" data-name="Sam">
					<div class="person-pane">
						<h2>Sam</h2>
						<hr>
						<p>CTO</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/sam.jpg"></div>
				</div>
				<div class="person" data-name="Monica">
					<div class="person-pane">
						<h2>Monica</h2>
						<hr>
						<p>Head of Customer Success</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/monica.jpg"></div>
				</div>
				<div class="person" data-name="Kimberly">
					<div class="person-pane">
						<h2>Kimberly</h2>
						<hr>
						<p>Director of Compliance</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/kim.jpg"></div>
				</div>
				<div class="person" data-name="Tyson">
					<div class="person-pane">
						<h2>Tyson</h2>
						<hr>
						<p>System Architect</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/tyson.jpg"></div>
				</div>
				<div class="person" data-name="Nick">
					<div class="person-pane">
						<h2>Nick</h2>
						<hr>
						<p>Product Manager</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/nick.jpg"></div>
				</div>
				<div class="person" data-name="Jack">
					<div class="person-pane">
						<h2>Jack</h2>
						<hr>
						<p>Managing Partner, Asia</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/jack.jpg"></div>
				</div>
				<div class="person" data-name="Chez">
					<div class="person-pane">
						<h2>Chez</h2>
						<hr>
						<p>Talent Acquisition</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/chez.jpg"></div>
				</div>
				<div class="person" data-name="Mike">
					<div class="person-pane">
						<h2>Mike</h2>
						<hr>
						<p>CEO, Co-founder</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/mike.jpg"></div>
				</div>
				<div class="person" data-name="Yanni">
					<div class="person-pane">
						<h2>Yanni</h2>
						<hr>
						<p>COO, Co-founder</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/yanni.jpg"></div>
				</div>
				<div class="person" data-name="Bonnie">
					<div class="person-pane">
						<h2>Bonnie</h2>
						<hr>
						<p>People Operations Manager</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/bonnie.jpg"></div>
				</div>
				<div class="person" data-name="Jin">
					<div class="person-pane">
						<h2>Jin</h2>
						<hr>
						<p>Staff Accountant</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/jin.jpg"></div>
				</div>
				<div class="person" data-name="Daniel">
					<div class="person-pane">
						<h2>Daniel</h2>
						<hr>
						<p>Senior Software Engineer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/dan.jpg"></div>
				</div>
				<div class="person" data-name="Jordan">
					<div class="person-pane">
						<h2>Jordan</h2>
						<hr>
						<p>Full Stack Engineer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/jordan.jpg"></div>
				</div>
				<div class="person" data-name="Taylor">
					<div class="person-pane">
						<h2>Taylor</h2>
						<hr>
						<p>Product Designer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/taylor.jpg"></div>
				</div>
				<div class="person" data-name="Paul">
					<div class="person-pane">
						<h2>Paul</h2>
						<hr>
						<p>Account Executive</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/paul.jpg"></div>
				</div>
				<div class="person" data-name="Anthony">
					<div class="person-pane">
						<h2>Anthony</h2>
						<hr>
						<p>Senior Software Engineer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/anthony.jpg"></div>
				</div>
				<div class="person" data-name="Amanda">
					<div class="person-pane">
						<h2>Amanda</h2>
						<hr>
						<p>Support Engineer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/amanda.jpg"></div>
				</div>
				<div class="person" data-name="Javier">
					<div class="person-pane">
						<h2>Javier</h2>
						<hr>
						<p>Financial Controller</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/javier.png"></div>
				</div>
				<div class="person" data-name="Mark">
					<div class="person-pane">
						<h2>Mark</h2>
						<hr>
						<p>Business Development</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/mark.png"></div>
				</div>
				<div class="person" data-name="Neil">
					<div class="person-pane">
						<h2>Neil</h2>
						<hr>
						<p>Growth Manager, Asia</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/neil.png"></div>
				</div>
				<div class="person" data-name="Richard">
					<div class="person-pane">
						<h2>Richard</h2>
						<hr>
						<p>Director, APAC</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/richard.png"></div>
				</div>
				<div class="person" data-name="Fiona">
					<div class="person-pane">
						<h2>Fiona</h2>
						<hr>
						<p>Customer Experience Manager</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/fiona.png"></div>
				</div>
				<div class="person" data-name="Han">
					<div class="person-pane">
						<h2>Han</h2>
						<hr>
						<p>Content Marketing Manager</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/han.png"></div>
				</div>
				<div class="person" data-name="Dong">
					<div class="person-pane">
						<h2>Dong</h2>
						<hr>
						<p>Payment Operations Manager</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/dong.png"></div>
				</div>
				<div class="person" data-name="Watts">
					<div class="person-pane">
						<h2>Watts</h2>
						<hr>
						<p>Chief Morale Officer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/watts.png"></div>
				</div>
				<div class="person" data-name="Chandler">
					<div class="person-pane">
						<h2>Chandler</h2>
						<hr>
						<p>Office Security Specialist</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/chandler.png"></div>
				</div>
				<div class="person" data-name="Miles">
					<div class="person-pane">
						<h2>Miles</h2>
						<hr>
						<p>Chief Barketing Officer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/miles.png"></div>
				</div>
				<div class="person" data-name="Pumpkin">
					<div class="person-pane">
						<h2>Pumpkin</h2>
						<hr>
						<p>Chief Canine Resources Officer</p>
						<p></p>
					</div>
					<div class="face-circle" data-photo="images/people/pumpkin.png"></div>
				</div>
		</section>


		<section class="our-values">
			<div class="wyre-container">
				<div class="office-photo-container">
					<div class="office-photo"></div>
				</div>
				<div class="values-content">
					<h1 style="margin-bottom: 2rem;">Our Values</h1>

					<h4>TRANSPARENCY</h4>
					<p>We keep our doors (and DMs) open. We want everybody on our team to have full visibility into what is happening with the company.</p>

					<h4>COMMUNICATION</h4>
					<p>No organization can succeed when only a few people contribute to the direction and execution. We leverage all of the brilliance surrounding our platform, whether that's the voice of our customers, or the team members building the product. We strive to be a place to make your voice heard, and your impact felt.</p>

					<h4>FUN</h4>
					<p>Regardless of your role, enjoying what you do is critical. We're working every day to ensure each team member's voice is heard, and their interests and efforts are supported. In the end, you need to be having fun.</p>
				</div>
			</div>
		</section>


		<section class="join-us">
			<div class="wyre-container">
				<div class="join-us-content">
					<h1>Join us</h1>
					<p>
						We're changing the landscape of global payments. Come build the future with us.
					</p>
				</div>

				<div class="join-us-photo"></div>
			</div>
		</section>

		<section class="perks">
			<div class="wyre-container">
				<h1>Perks and benefits</h1>
				<ul>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/pie_chart.svg" alt="📊"></span>
						Get a true stake of the company
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/heart.svg" alt="❤️"></span>
						Health, dental, and vision benefits for you and your family
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/car.svg" alt="🚗"></span>
						Wellness & commuter benefits
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/food.svg" alt="🍔"></span>
						Free lunches
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/plane.svg" alt="✈️"></span>
						Relocation support
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/computer.svg" alt="🖥"></span>
						Hooked up computer setup
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/weight.svg" alt="🏋️‍♀️"></span>
						Free gym membership
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/coin.svg" alt="💰"></span>
						401k Plan
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/umbrella.svg" alt="☂️"></span>
						Vacation days & time off + flexible work hours
					</li>
					<li>
						<span class="perk-icon"><img src="/assets/images/about/icons/graph.svg" alt="📈"></span>
						Get to work in a growing startup
					</li>
				</ul>
			</div>
		</section>

		<section class="interested">
			<div class="wyre-container">
				<div class="interested-content">
					<h1>Interested?</h1>
					<p>We'd be delighted to meet you. Take a look at your current openings. Don't see the perfect role? Get in touch! We're always looking for the best people.</p>
				</div>
			</div>
			<div class="openings-link-container">
				<a href="http://grnh.se/mdit7k1" class="button is-primary is-edged openings-button" target="_blank">Check Our Openings</a>
			</div>
		</section>

		<section class="equal-opportunity">
			<div class="wyre-container">
				Wyre is an equal opportunity employer. We’re committed to hiring the best people regardless of race, religion, sex, sexual orientation and expression, national origin, age, disability or genetics.
			</div>
		</section>

		<section class="photo-reel"></section>

		 <footer class="footer">
		
		    <div class="wyre-container">
		
		        <div class="footer-logo">
		            <img src="/assets/images/WyreLogoWhite.svg" alt="Wyre Logo" class="WyreLogoWhite FooterLogo">
		        </div>
		        <div class="primary-links">
		            <ul>
		                <li><a href="/about">About Us</a></li>
		                <li><a href="/areas">Areas of Operation</a></li>
		                <li><a href="/exchange-rates">Compare Rates</a></li>
		                <li><a href="https://blog.sendwyre.com/">Blog</a></li>
		                <li><a href="/dashboard">Dashboard</a></li>
		                <br><br>
		                <li><a href="/security">Security</a></li>
		                <li><a href="privacy-policy">Privacy Policy</a></li>
		                <li><a href="user-agreement">User Agreement</a></li>
		                <li><a href="http://support.sendwyre.com/">Help Center</a></li>
		            </ul>
		        </div>
		        <div class="secondary-links">
		            <ul>
		                <li><a href="https://dash.sendwyre.com/register">Sign Up</a></li>
		                <li><a href="https://docs.sendwyre.com/">API Documentation</a></li>
		                <li><a href="http://grnh.se/im4pc51">Careers</a></li>
		                <br><br>
		                <li><a href="/cdn-cgi/l/email-protection#10636560607f62645063757e74676962753e737f7d"><span class="__cf_email__" data-cfemail="0a797f7a7a65787e4a796f646e7d73786f24696567">[email&#160;protected]</span></a></li>
		                <li><a href="tel:4153747356">+1 (415)374-7356</a> <span class="small">(US)</span></li>
		                <li><a href="tel:4008010240">+400-8010-240</a> <span class="small">(China)</span></li>
		                <br>
		                <li><a href="https://goo.gl/maps/riXUpVNxHMv" class="white">1550 Bryant Street<br>STE 750<br>San Francisco, CA 94103</a></li>
		            </ul>
		        </div>
		    </div>
		
		    <div class="wyre-container">
		        <div class="footer-bottom">
		            <h5>Wyre Payments, Inc. is a registered money service business (NMLS ID: 1574869).</h5>
		            <h5>© Wyre, Inc 2013 - 2017. All rights reserved.</h5>
		        </div>
		    </div>
		</footer>

	</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script></body>
</html>
